.top-right-nav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    right: 0px;
    transition: background-color 0.3s;
    background-color: #d8c8d6;
    color: black;
}

.top-right-nav a {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.top-right-nav:hover {
    background-color: white;
}

.banner {
    background-image: url(/Users/ashleywright/bootcamp/awright-challenge-02/assets/images/clouds2.webp);
    background-size: cover;
    background-position: center;
    height: 350px;
}

#banner1 {
    background-size: cover;
    background-position: center;
    height: 350px;
}
.overlay-box1 {
    top: 1px;
    left: 40%;
    color: #5b284d;
    padding-right: 15px;
    text-decoration: underline;
}

img {
    width: 200px;
    height: auto;
    padding-left: 15px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
    flex-direction: column;
}

.flex-box1 {
    flex: 1;
}

#about-container {
    flex-direction: column;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1;
}

#about-me {
    position: relative;
    margin-top: 5%;
    padding-left: 15%;
    padding: 1;
    margin-right: 40%;
    text-decoration: underline;
    color: #5b284d;
}

#introduction {
    border-left: 5px solid #5b284d;
    margin-left: 30%;
    margin-top: -7%;
    margin-bottom: 5%;
    text-align: center;
}

.flex-box2 {
    flex: 1;
}

#work-container {
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

#work {
    padding-left: 15%;
    margin-right: 40%;
    text-decoration: underline;
    color: #5b284d;
}

#work-image {
    border-left: 5px solid #5b284d;
    margin-left: 30%;
    margin-top: -7%;
    text-align: center;
}

#image-link {
    margin-left: 1%;
    margin-top: 3%;
    text-align: center;
}

#image-link:hover {
    background-color: #C0AFCC;
}

#coming-soon {
    border-left: 5px solid #5b284d;
    margin-left: 30%;
    margin-top: 0%;
    margin-bottom: 15%;
    text-align: center;
}

#image-text {
    margin-left: 30%;
    margin-top: 3%;
    text-align: center;
}

.flex-box3{
    flex: 1;
}

#contact-container {
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

#contact {
    position: relative;
    font-size: large;
    padding-left: 15%;
    margin-right: 40%;
    margin-top: -10%;
    text-decoration: underline;
    color: #5b284d;
}

#contact-links {
    font-size: large;
    border-left: 5px solid #5b284d;
    margin-left: 30%;
    margin-top: -4%;
    text-align: center;
}

#contact-links:hover {
    background-color: #C0AFCC
}