.top-right-nav {
    position: absolute;
    top: 50px;
    right: 40px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    background-color: #C0AFCC;
    color: black;
}

.top-right-nav a {
    margin-right: 30px;
}

.top-right-nav:hover {
    background-color: white;
}

.banner {
    background-image: url(/Users/ashleywright/bootcamp/awright-challenge-02/assets/autumn.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.overlay-box {
    position: aboslute;
    display: flex;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 20px
}
.section {
    margin-bottom: 10px;
    padding: 20px;
}

.content {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
}

.coming-soon {
    width: 200px;
    height: 200px;
}

.bottom-nav {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.bottom-nav a {
    margin-bottom: 10px;
}